*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Playfair Display", serif;
}

.h1-header {
    font-family: var(--font-family);
}

.intro-p {
    font-size: 25px;
}

.question-section {
    margin-top: 45px;
    margin-bottom: 25px;
}

#theQuestion {
    padding-bottom: 35px;
    font-family: var(--font-family);
}

#question {
    margin-bottom: 40px;
}

.answer-box {
    display: flex;
    flex-direction: initial;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: lightgray;
    color: darkslategray;
    width: 50%;
}

.answer-box:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px darkslategray;
}

.letter-choice {
    font-size: 30px;
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 5px 10px;
    margin: 0;
    width: 40px;
}

.answer-text {
    padding: 5px 10px;
}

.correct {
    color: rgb(38, 175, 38);
}

.incorrect {
    color: red;
}

.next-btn {
    width: 10%;
    margin-bottom: 25px;
    color: white;
    background-color: black;
}

